# Mocking, faking, factories and other test helpers
mock==1.0.1

# Factories
factory_boy==2.9.1
django-factory_boy==1.0.0
Faker==4.4.0

# pytest
py==1.9.0
pytest==6.1.1
pytest-django==3.10.0

# test coverage
pytest-cov==2.5.1
coveralls==1.1
coverage==4.3.4
docopt==0.6.2
requests==2.20.0


# Flake8 checks for PEP-8 formatting and code quality
flake8==3.3.0
pycodestyle==2.3.1
enum34==1.1.6
configparser==3.5.0
pyflakes==2.1.1
pep8==1.7.0
# Checks for cyclomatic complexity
mccabe==0.6.1
# Checks for naming conventions
pep8-naming==0.4.1
# Checks for the use of print statements
flake8-print==2.0.2
# Checks for the use of debug statements (pdb, ...)
flake8-debugger==1.4.0
# Checks for things that should be comprehensions
flake8-comprehensions==1.2.1
# Checks for non-existent mock methods
flake8-mock==0.3
# Checks for mutable function arguments
flake8-mutable==1.1.0
# Checks for TODO statements (and similar)
flake8-todo==0.7
# Checks for uses of double quotes (without containing single quotes)
flake8-quotes==0.9.0
# Checks for uses of old-style string formatting (using % instead of .format())
flake8-pep3101==1.0
# Checks for the overriding of builtins
flake8-builtins-unleashed==1.3.1
# Checks for uses of Django-style asserts
flake8-pytest==1.3
# Checks for bad imports of fake_time (should come from libfaketime_tz_wrapper instead of libfaketime)
flake8-libfaketime==1.1
# Checks for module-level imports
flake8-module-imports==1.1
# Checks for usages of django.translation.activate()
flake8-translation-activate==1.0.2
# Checks for imports with an alias of _
flake8-ugettext-alias==1.1
# Checks for imports of the User model (instead of get_user_model() or settings.AUTH_USER_MODEL)
flake8-user-model==1.1

# StatsD allows us to push monitoring data to a Graphite server
django-statsd-unleashed==1.0.1
statsd==2.1.2
